/* 
осн.цвет фона #F5F5F5
вторичный фон #F5F4FA
фон футер #2F303A
фон хэдэра #FFFFFF

заглавия #212121
текст #757575
акцент #FFFFFF
футер контакты rgba(255, 255, 255, 0.6)
ховер 2196F3

ширина 1170 пх
гаттер 30 пх
=> windth 1200 px
*/

:root {--primary-text-color: #757575;
        --title-text-color: #212121;
        --hover-tet-color: #2196F3;
        --primary-bcg-color: #FFFFFF;
        --secondary-bcg-color: #F5F4FA;
        --footer-bcg-color: #2F303A;}

body {
    background-color: var(--primary-bcg-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 14px;}

.list {list-style: none;
    padding-left: 0;}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}



/* head  */
.container.header {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D9D9D9;
}
header {border-bottom: 1px solid #ECECEC;}

.logo {color: #000000;
        font-family: raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
}

.web {color: var(--hover-tet-color);}

.link{
    text-decoration: none;}

.site-nav .list {
    display: flex;
   }  


.site-nav .link{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    padding-right: 50px;
}

.head-contact .list {
    display: flex;
    justify-content: flex-end;}

.head-contact .link {
    
    padding-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-tet-color);}

.site-nav .current {color: var(--hover-tet-color);}

.head-contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.head-contact:hover,
.head-contact:focus {
    color: var(--hover-tet-color)
}

/* hero  */
.hero {    
    background-color: #2F303A;
    text-align: center;
    margin-bottom: 90px;
    padding: 100px 100px 100px 100px;
} 
/* временно */

.hero-title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 30px;
    margin-top: 0;}

.hero .button {    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;}

/* переваги  */

.section .list {
    display: flex;
    margin: 0;}

.section-title {
    margin-bottom: 50px;
    margin-top: 0;
}

.title .feature-text {
    line-height: 1.7;

    width: 270px;}

.feature li {margin-right: 30px;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.feature .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    
    margin-bottom: 10px;
    margin-top: 0;}
    

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;}

/* Чим ми займаємося */

.section.technology {
    padding-top: 90px;
    padding-bottom: 90px;}

.technology .list {
    justify-content: space-between;}

/* команда */
.team-bcg {background-color: var(--secondary-bcg-color);}

section.team-bcg {
    padding-top: 90px;
    padding-bottom: 90px;
}

.list.team {
    text-align: center;
    justify-content: space-between;
}

.team li {
    border: 1px solid #EEEEEE;
}

.team .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team .job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    /* margin-bottom: 30px; */
}

/* footer */


.foot {
    background-color: var(--footer-bcg-color);
    height: 250px;    
}

.container-foot {
    padding-top: 60px;
}

.foot .logo-foot {
    color: var(--primary-bcg-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-bottom: 20px;}

.address li {
    margin-bottom: 10px;
}

.address .contact-foot:hover,
.address .contact-foot:focus,
.address .address-foot:hover,
.address .address-foot:focus {
    color: var(--hover-tet-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-foot {
    color: var(--primary-bcg-color);
}

.contact-foot {
    color: rgba(255, 255, 255, 0.6);}

/* кнопки */

.button {
    color: var(--title-text-color);
    background-color: var(--primary-bcg-color);}

.button.primary {
    color: #ffffff;
    background-color: var(--hover-tet-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    min-width: 215px;
    font-family: inherit;}

.button.secondary { 
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: none;
    border-radius: 5px;

    font-family: inherit;
    letter-spacing: 00.03em;
    cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-bcg-color);
    background-color: var(--hover-tet-color);
    border-color: var(--hover-tet-color);
}

/* portfolio page  */
.filter-buttons {
    display: flex;
    
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.filter .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    min-width: 75px;
    margin-right: 8px;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
    /* text-align: center; */
}

.examples li {
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.examples h3,
.examples p {
    width: 370px;
    padding-left: 25px;
    flex-wrap: wrap;
}

.filter .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 20px;
    margin-bottom: 5px;
}

.filter p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 20px;
}

